:root {
    --primary-color: #665f4d;
    --secondary-color: #413d35;
    --accent-color: #847d6f;
    --text-color: #e0f5ff;
}

body {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.pres {
    margin: 2% auto;
    padding: 1%;
    background-color: var(--secondary-color);
    text-align: center;
    font-weight: bold;
    border-radius: 15px;
    border: 4px solid var(--accent-color);
}

#header {
    width: 50%;
}

#footer {
    height: 30%;
}

#main {
    position: relative;
    margin: 0 auto;
    background-color: var(--secondary-color);
    width: 80%;
    display: flex;
    justify-content: center;
}

#input-zone {
    border: 2px solid var(--accent-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#drawing-canvas {
    height: 250px;
    width: 250px;
}

#source-img {
    position: relative;
    height: 200px;
    width: 200px;
}

#navbar {
    width: 70%;
}

#navbar a {
    color: var(--text-color);
}

#drawing-canvas {
border: 2px solid var(--accent-color);
}