:root {
    --primary-color: #665f4d;
    --secondary-color: #413d35;
    --accent-color: #847d6f;
    --text-color: #e0f5ff;
}

body {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.pres {
    margin: 2% auto;
    padding: 1%;
    background-color: var(--secondary-color);
    text-align: center;
    font-weight: bold;
    border-radius: 15px;
    border: 4px solid var(--accent-color);
}

#header {
    width: 50%;
}

#footer {
    height: 30%;
}

#main {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#mode-list {
    margin-left: 2%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 15px;
    border: 4px solid var(--accent-color);
    width: 15%;
    height: 500px;
}

#layer-zone {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 15px;
    border: 4px solid var(--accent-color);
    width: 15%;
    height: 500px;
}

#layer-display {
    background-color: var(--secondary-color);
    width: 80%;
    height: 83%;
    border-radius: 15px;
    border: 4px solid var(--accent-color);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#modify-zone {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#modify-zone * {
    margin-left: 5px;
    margin-right: 5px;
    height: 50%;
}

#layer-display.button {
    width: 80%;
}

#img-zone {
    padding: 3%;
    background-color: var(--secondary-color);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    border-radius: 15px;
    border: 4px solid var(--accent-color);
    margin: 2%;
}
#img-zone > div {
    margin: 20px;
}

#render-zone {
    display: flex;
    justify-content: space-evenly;
}

#drawing-canvas {
    height: 250px;
    width: 250px;
}

#input-zone {
    border: 2px solid var(--accent-color);
    display: flex;
    width: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#img-input {
    display: none;
}

.mode {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.mode > div {
    display: none;
}

.input-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    text-align: center;
}

.button {
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--secondary-color);
    padding: 5px;
    border-radius: 5px;
    border: 2px solid var(--accent-color);
}

.button:hover {
    background-color: var(--accent-color);
}

.nbr-inp {
    border: 2px solid var(--accent-color);
    border-radius: 5px;
    margin-left: 10px;
    height: 20px;
    width: 50px;
    text-align: center;
    padding: 0;
    background: none;
    color: var(--text-color);
}

.sel-inp {
    border: 2px solid var(--accent-color);
    border-radius: 5px;
    margin-left: 10px;
    height: 30px;
    padding: 0;
    background: none;
    color: var(--text-color);
    text-align: center;
}

option {
    background-color: var(--secondary-color);
}

.clr-inp {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid var(--accent-color);
    border-radius: 5px;
    margin-left: 10px;
    height: 20px;
    padding: 0;
    background: none;
    cursor: pointer;
}

.clr-inp::-webkit-color-swatch-wrapper {
    padding: 0;
}

.clr-inp::-webkit-color-swatch {
    border: none;
}

.clr-inp::-moz-color-swatch {
    border: none;
}

#source-img {
    position: relative;
    height: 200px;
    width: 200px;
}

#drawing-canvas {
    border: 2px solid var(--accent-color);
}

#follow-up-zone {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#download-as-zone {
    color: var(--text-color);
    font-weight: normal;
}